
			/******************** body and main ********************/

body{
	width:100%;
	padding:0;
	margin:0;
	color:white;
	background:#000;
	text-align: center;
}

p{
	font-size: 1.6rem;
}

h2{
	font-size: 48px;
}

a{
	color: white;
}



